<% provide :title, t("forgot_password.title") %>

<div class="form-forgot">
    <div class="container">
        <h1><%= t("forgot_password.title") %></h1>

        <div class="form">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

                <div class="form-group">
                    <%= f.label :email, t("forgot_password.email") %>
                    <div class="input-wrapper">
                        <i class="fa fa-envelope icon"></i>
                        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: t("forgot_password.email_placeholder") %>
                    </div>
                </div>

                <div class="form-group form-action">
                    <%= f.submit t("forgot_password.submit"), class: "btn btn-submit" %>
                </div>
            <% end %>

            <p class="back-login">
                <%= link_to t("forgot_password.back_to_login"), new_session_path(resource_name) %>
            </p>
        </div>
    </div>
</div>
